*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	font-size: 16px;
}
%wh{
	width: 100%;
	height: 100%;
}
%posr{
	position: relative;
}
%posa{
	position: absolute;
}
%bor{
	box-sizing:border-box;
}
%centers{
	display: flex;
	-webkit-justify-content:space-around;
}
%bord{
	box-sizing:border-box;
}
html,body,.bigBox{
	@extend %wh;
	display: flex;
	-webkit-flex-direction:column;
	background-color:#f3f3fe;
}
.bigBox{
    .header{
    	width:100%;
    	height:55px;
    	background-color: #fff;
    	display: flex;
    	@extend %bord;
    	margin-bottom: 15px;
    	span{
    		display: inline-block;
    		flex:1;
    		height:55px;
    		text-align: center;
    		line-height: 55px;
            font-size: 14px;
            color:#a0a0a0;
    	}
    	span.on{
            color:#617ef6;
    	}
    }
    .main{
    	width:100%;
    	flex-grow:1;
    	background-color: #fff;
    	overflow-x:auto;
    	overflow-y:scroll;
    	@extend %bord;
    	.containers{
    		.wrappers{
    			section{
                    .sameBox{
                    	width:90%;
                        height:111px;
                        border:1px solid #eee;
                        box-shadow: 1px 1px 1px 1px #eee;
                        margin:10px auto;
                        border-radius: 8px;
                        margin-top: 15px;
                        p{
                        	width:100%;
                        	height:64px;
                        	color:#fff;
                        	font-weight: bolder;
                        	/*line-height: 65px;*/
                        	span{
                        		padding-top: 25px;
                        		i{
                        			font-size:22px;
                        		}
                        		a{
                        			color:#fff;
                                    font-size: 40px;
                        		}
                        	}
                        	label{
                        		padding-top: 30px;
                        		float:right;
                        		padding-right: 15px;
                        		font-size:22px;
                        		font-weight: normal;
                        	}
                        }
                        span{
                        	padding-left: 15px;
                            font-size: 11px;
                        }
                    }
    	        }
    		}
    	}
    }
}
